In [3]:
import pandas as pd 
# Exercício: Carregar um arquivo e exibir as primeiras 5 linhas.
df = pd.read_excel('dados_ausentes_atividade.xlsx')
print(df.head(5))

    Nome  Idade          Cidade  Salário
0   João   28.0       São Paulo   3500.0
1  Maria    NaN  Rio de Janeiro   4500.0
2   José   35.0             NaN      NaN
3    Ana   22.0        Salvador   5000.0
4  Pedro    NaN    Porto Alegre   4800.0

In [4]:
# Exercício: Verificar se há valores NaN nas colunas do DataFrame.
print(df.isnull())

    Nome  Idade  Cidade  Salário
0  False  False   False    False
1  False   True   False    False
2  False  False    True     True
3  False  False   False    False
4  False   True   False    False
5  False  False   False    False
6  False  False   False    False
7  False  False   False    False

In [5]:
# Exercício: Substituir os valores NaN de uma coluna por 0.

df['Salário'].fillna(0, inplace=True)
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria    NaN  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro    NaN    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0      são paulo    3410.0
7   Carlos   35.0    porto alegre   2500.0

C:\Users\47419992894\AppData\Local\Temp\ipykernel_2904\3449999578.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(0, inplace=True)

In [11]:
# Exercício: Substituir os valores NaN de uma coluna por um valor específico
# (por exemplo, a média).

df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df.round(0))

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria   27.0  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro   27.0    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0      são paulo    3410.0
7   Carlos   35.0    porto alegre   2500.0

C:\Users\47419992894\AppData\Local\Temp\ipykernel_2904\1400899220.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Idade'].fillna(df['Idade'].mean(), inplace=True)

In [7]:
# Exercício: Remover todas as linhas que contêm valores NaN em qualquer
# coluna

df_sem_nulos = df.dropna()
print(df_sem_nulos)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria   27.0  Rio de Janeiro   4500.0
3      Ana   22.0        Salvador   5000.0
4    Pedro   27.0    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0      são paulo    3410.0
7   Carlos   35.0    porto alegre   2500.0

In [10]:
# Exercício: Substituir valores NaN de uma coluna com a mediana dessa
# coluna.

df['Idade'].fillna(df['Idade'].median, inplace=True)
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria   27.0  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro   27.0    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0      são paulo    3410.0
7   Carlos   35.0    porto alegre   2500.0

In [ ]:
#

df['Cidade'] = df['Cidade'].str.capitalize() 
df['Cidade'] = df['Cidade'].str.title() 
print(df)

In [26]:
# Substituição de valores categóricos: sao paulo, sp, rj...
df['Cidade'] = df['Cidade'].str.lower().replace({'são paulo' : 'SP', 'rio de janeiro' : 'RJ', 'rj' : 'RJ'})
print(df)

      Nome  Idade        Cidade  Salário
0     João   28.0            SP   3500.0
1    Maria    NaN            RJ   4500.0
2     José   35.0           NaN      NaN
3      Ana   22.0      salvador   5000.0
4    Pedro    NaN  porto alegre   4800.0
5      Ana   22.0      salvador   5000.0
6  Jessica   20.0    são paulo    3410.0
7   Carlos   35.0  porto alegre   2500.0

In [27]:
# Criar uma nova coluna: Faixa Etária
df['Faixa Etária'] = pd.cut(df['Idade'], bins = [0, 18, 30, 50, 100], labels=['Jovem', 'Adulto', 'Meia-Idade', 'Idoso'])
print(df)

      Nome  Idade        Cidade  Salário Faixa Etária
0     João   28.0            SP   3500.0       Adulto
1    Maria    NaN            RJ   4500.0          NaN
2     José   35.0           NaN      NaN   Meia-Idade
3      Ana   22.0      salvador   5000.0       Adulto
4    Pedro    NaN  porto alegre   4800.0          NaN
5      Ana   22.0      salvador   5000.0       Adulto
6  Jessica   20.0    são paulo    3410.0       Adulto
7   Carlos   35.0  porto alegre   2500.0   Meia-Idade

In [28]:
# Remover Duplicatas
df = df.drop_duplicates(subset=['Nome'])
print(df)

      Nome  Idade        Cidade  Salário Faixa Etária
0     João   28.0            SP   3500.0       Adulto
1    Maria    NaN            RJ   4500.0          NaN
2     José   35.0           NaN      NaN   Meia-Idade
3      Ana   22.0      salvador   5000.0       Adulto
4    Pedro    NaN  porto alegre   4800.0          NaN
6  Jessica   20.0    são paulo    3410.0       Adulto
7   Carlos   35.0  porto alegre   2500.0   Meia-Idade