In [20]:
import pandas as pd

# 1. Carregar os dados do arquivo
df = pd.read_excel("dados_ausentes.xlsx")
print(df)

         Nome  Idade          Cidade  Salário
0        João   20.0       São Paulo   3500.0
1      Ademar    NaN  Rio de Janeiro   4500.0
2     Roberto   34.0             NaN      NaN
3      Fátima   25.0        Salvador   5000.0
4  Felisberto    NaN    Porto Alegre   4800.0
5        José   20.0       são paulo   3410.0
6      Carlos   35.0    porto alegre   2500.0
7      Plínio   55.0        curitiba   7000.0

In [4]:
# Verificar se existem dados faltando
print(df.isnull())

    Nome  Idade  Cidade  Salário
0  False  False   False    False
1  False   True   False    False
2  False  False    True     True
3  False  False   False    False
4  False   True   False    False

In [3]:
# Contar os valores ausentes
print(df.isnull().sum())

Nome       0
Idade      2
Cidade     1
Salário    1
dtype: int64

In [5]:
# Excluir as linhas com dados ausentes

df_sem_nulos = df.dropna() # Vai pegar somente as linhas com np.nan (NaN)
print(df_sem_nulos)

     Nome  Idade     Cidade  Salário
0    João   20.0  São Paulo   3500.0
3  Fátima   25.0   Salvador   5000.0

In [8]:
# Substituir dados ausentes
# Cidades - Desconhecido

df['Cidade'].fillna('Desconhecido', inplace=True) #substutuir campos que estejam com "na"
print(df)

         Nome  Idade          Cidade  Salário
0        João   20.0       São Paulo   3500.0
1      Ademar    NaN  Rio de Janeiro   4500.0
2     Roberto   34.0    Desconhecido      NaN
3      Fátima   25.0        Salvador   5000.0
4  Felisberto    NaN    Porto Alegre   4800.0

In [9]:
# Substituir dads ausentes
# Substitui 'Salário' por 0
df['Salário'].fillna(0, inplace=True)
print(df)

         Nome  Idade          Cidade  Salário
0        João   20.0       São Paulo   3500.0
1      Ademar    NaN  Rio de Janeiro   4500.0
2     Roberto   34.0    Desconhecido      0.0
3      Fátima   25.0        Salvador   5000.0
4  Felisberto    NaN    Porto Alegre   4800.0

C:\Users\47419992894\AppData\Local\Temp\ipykernel_20996\383585131.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(0, inplace=True)

In [23]:
# Exercício: Substituir os valores NaN de uma coluna por um valor específico

df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

         Nome  Idade          Cidade  Salário
0        João   20.0       São Paulo   3500.0
1      Ademar   31.5  Rio de Janeiro   4500.0
2     Roberto   34.0             NaN      NaN
3      Fátima   25.0        Salvador   5000.0
4  Felisberto   31.5    Porto Alegre   4800.0
5        José   20.0       são paulo   3410.0
6      Carlos   35.0    porto alegre   2500.0
7      Plínio   55.0        curitiba   7000.0

C:\Users\47419992894\AppData\Local\Temp\ipykernel_20996\139437152.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Idade'].fillna(df['Idade'].mean(), inplace=True)

In [18]:

# Converter dados da idade para int
df['Idade'] = df['Idade'].astype(int)
print(df)

         Nome  Idade          Cidade  Salário
0        João     20       São Paulo   3500.0
1      Ademar     26  Rio de Janeiro   4500.0
2     Roberto     34    Desconhecido      0.0
3      Fátima     25        Salvador   5000.0
4  Felisberto     26    Porto Alegre   4800.0

In [19]:
# Pega o valor de cima
df['Idade'] = df['Idade'].ffill()

# Pega o valor debaixo
df['Idade'] = df['Idade'].bfill()