In [33]:
import pandas as pd 

df = pd.read_excel('dados_ausentes.xlsx')
print(df.head(5))

         Nome  Idade          Cidade  Salário
0        João   20.0       São Paulo   3500.0
1      Ademar    NaN  Rio de Janeiro   4500.0
2     Roberto   34.0             NaN      NaN
3      Fátima   25.0        Salvador   5000.0
4  Felisberto    NaN    Porto Alegre   4800.0

In [25]:
# Corrigir erros de formatação (maiúscula, minúscula)
df['Cidade'] = df['Cidade'].str.capitalize() 
df['Cidade'] = df['Cidade'].str.title() 
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria    NaN  Rio De Janeiro   4500.0
2     José   35.0             NaN      NaN
3      Ana   22.0        Salvador   5000.0
4    Pedro    NaN    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0      São Paulo    3410.0
7   Carlos   35.0    Porto Alegre   2500.0

In [26]:
# Substituição de valores categóricos: sao paulo, sp, rj...
df['Cidade'] = df['Cidade'].str.lower().replace({'são paulo' : 'SP', 'rio de janeiro' : 'RJ', 'rj' : 'RJ'})
print(df)

      Nome  Idade        Cidade  Salário
0     João   28.0            SP   3500.0
1    Maria    NaN            RJ   4500.0
2     José   35.0           NaN      NaN
3      Ana   22.0      salvador   5000.0
4    Pedro    NaN  porto alegre   4800.0
5      Ana   22.0      salvador   5000.0
6  Jessica   20.0    são paulo    3410.0
7   Carlos   35.0  porto alegre   2500.0

In [27]:
# Criar uma nova coluna: Faixa Etária
df['Faixa Etária'] = pd.cut(df['Idade'], bins = [0, 18, 30, 50, 100], labels=['Jovem', 'Adulto', 'Meia-Idade', 'Idoso'])
print(df)

      Nome  Idade        Cidade  Salário Faixa Etária
0     João   28.0            SP   3500.0       Adulto
1    Maria    NaN            RJ   4500.0          NaN
2     José   35.0           NaN      NaN   Meia-Idade
3      Ana   22.0      salvador   5000.0       Adulto
4    Pedro    NaN  porto alegre   4800.0          NaN
5      Ana   22.0      salvador   5000.0       Adulto
6  Jessica   20.0    são paulo    3410.0       Adulto
7   Carlos   35.0  porto alegre   2500.0   Meia-Idade

In [28]:
# Remover Duplicatas
df = df.drop_duplicates(subset=['Nome'])
print(df)

      Nome  Idade        Cidade  Salário Faixa Etária
0     João   28.0            SP   3500.0       Adulto
1    Maria    NaN            RJ   4500.0          NaN
2     José   35.0           NaN      NaN   Meia-Idade
3      Ana   22.0      salvador   5000.0       Adulto
4    Pedro    NaN  porto alegre   4800.0          NaN
6  Jessica   20.0    são paulo    3410.0       Adulto
7   Carlos   35.0  porto alegre   2500.0   Meia-Idade